<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper">
  	<select id="freeBoardListData" resultType="com.sist.dao.BoardVO" parameterType="hashmap">
    <!-- 
        hashmap => java.util.Map
     -->
     SELECT no,subject,name,TO_CHAR(regdate,'YYYY/MM/DD') as dbday,hit,num
     FROM (SELECT no,subject,name,regdate,hit,rownum as num 
     FROM (SELECT no,subject,name,regdate,hit 
     FROM movie_board4 ORDER BY no DESC))
     WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	<select id="freeBoardTotalPage" resultType="int">
 		SELECT CEIL((COUNT(*)/10.0) FROM movie_board4
 	</select>
 	<insert id="freeBoardInsert" parameterType="com.sist.dao.BoardVO">
 		INSERT INTO movie_board4 VALUES(
 			mb4_no_seq.nextval,
 			#{name},
 			#{subject},
 			#{content},
 			#{pwd},
 			SYSDATE,
 			0
 		)
 	</insert>
 	<update id="freeBoardHitIncrement" parameterType="int">
 		UPDATE movie_board4 SET 
 		hit=hit+1
 		WHERE no=#{no} 
 	</update>
 	<select id="freeBoardDetailData" resultType="com.sist.dao.BoardVO" parameterType="int">
 		SELECT no,name,subject,content,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit
 		FROM movie_board4
 		WHERE no=#{no}
 	</select>
 	<select id="freeBoardGetPassword" resultType="String" parameterType="int">
 		SELECT pwd FROM movie_board4
 		WHERE no=#{no}
 	</select>
 	<update id="freeBoardUpdtae" parameterType="com.sist.dao.BoardVO">
 		UPDATE movie_board4 SET
 		name=#{name},
 		subject=#{subject},
 		content=#{content}
 		WHERE no=#{no}
 	</update>
</mapper>