<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper">
	<select id="freeboardListData" resultType="com.sist.dao.BoardVO" parameterType="hashmap">
		SELECT no,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,num
		FROM (SELECT no,subject,name,regdate,hit rownum as num
		FROM (SELECT no,subject,name,regdate,hit 
		FROM movie_board4 ORDER BY no DESC))
 		WHERE num BERWEEN #{start} AND #{end}
 	</select>
 	<select id="boardTotalPage" resultType="int">
 		SELECT CEIL((COUNT(*)/10.0) FROM movie_board4
 	</select>
</mapper>